<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataGridViewSamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataGridViewSamples.Properties.Settings>
            <setting name="DefaultConnString" serializeAs="String">
                <value>Server=localhost;Database=Northwind;Uid=sa;Pwd=Sa2014;</value>
            </setting>
        </DataGridViewSamples.Properties.Settings>
    </userSettings>
</configuration>